
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MEAN Stack User Registration and Login Example Application</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body class="container">
    <!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li><a routerLink="/home" routerLinkActive="active">Home</a> </li>
            <li><a routerLink="/videos" routerLinkActive="active">Playlist</a></li>
            <!--<li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>-->
        </ul>
    </header>

    <!-- main -->
    <div>
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <footer></footer>

    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

</body>

<!--<app-login></app-login>-->

