
<!--<div class="wrapper title_video">
	<table>
		<td>
			<div [dragula]='"bag-task1"'>
				<div> Nouveau Playlist</div>
			</div>
		</td>
		<td>
			<div class="" [dragula]='"bag-task1"'>
				<div class="elementStyle" (click)="onSelect(video)" *ngFor="let video of videos"> 
					<a>{{video.title}}</a>
				</div>
				
			</div>
		</td>
	</table>
</div>-->

<ol class="elementStyle">
	<li (click)="onSelect(video)" *ngFor="let video of videos"><a><span class="glyphicon glyphicon-play-circle"></span>{{video.title}}</a></li> 
</ol>