.form-recherche{
    border: 2px solid #ced4da;
    border-radius: .25rem;
    height: 35px;
    width: 275px;
}
.recherche{
    padding-top: 50px;
}
a{
    float: right;
    margin-right: 593px;
    margin-top: -35px;
    cursor: pointer;

    background-color: #f44336;
    color: white !important;
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 34px;
    border-radius: .25rem;
}
.recherche-btn{
    margin-left: 7px !important;
    margin-top: -5px !important;
}